[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = https://github.com/howell/ghcmod-vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = http://github.com/howell/vim2hs
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/howell/neco-ghc
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/howell/rust.vim
